body,
html {
  background-color: var(--white);
  color: var(--black);
  /*font-family: 'Source Code Pro', monospace;*/
  font-family: 'Gothic A1', sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  scroll-behavior: smooth;
  word-wrap: break-word;
}

/*
@font-face {
  font-family: Limelight;
  src: url(resources/Limelight/Limelight-Regular.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Gothic A1;
  src: url(resources/GothicA1/GothicA1-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Gothic A1;
  src:  url(resources/GothicA1/GothicA1-Medium.ttf);
  font-weight: 500;
}

*/

:root {
  --background-accent: #E1E0DC;
  --black: #2F2F2E;




  --blue: #103B50;
  --accent: #FF2CF5;
  --red-75: #CC6B6B;
  --red-50: #DD9D9D;
  --grey-dark: #8499A4;
  --grey-light: #C9CFD2;
  --coral: #DF5B57;
  --white: #fff;
  --white-trans: #ffffffcf;

  --font-size-default: 1rem;
  --font-size-2: 1.3rem;
  --font-size-3: 1.8rem;
  --font-size-4: 2.5rem;

  --line-height-default: 1.5rem;
  --line-height-2: 1.7rem;
  --line-height-3: 2.3rem;
  --line-height-4: 3.3rem;

  --shadow: 0px 0px 5px 3px rgba(99, 99, 99, 0.274);
}

@media only screen and (max-width:1300px) {

  :root {
    --font-size-default: 1rem;
    --font-size-2: 1.2rem;
    --font-size-3: 2.0rem;
    --font-size-4: 3rem;

    --line-height-default: 1.5rem;
    --line-height-2: 1.6rem;
    --line-height-3: 2.6rem;
    --line-height-4: 4.2rem;
  }


}

@media only screen and (max-width:670px) {

  body,
  html {
    font-size: 16px;
  }

  :root {
    --font-size-default: 1rem;
    --font-size-2: 1.2rem;
    --font-size-3: 1.6rem;
    --font-size-4: 2.4rem;

    --line-height-default: 1.5rem;
    --line-height-2: 1.6rem;
    --line-height-3: 2.1rem;
    --line-height-4: 3.5rem;
  }
}

.light {
  color: var(--grey-dark);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}



/***
Font defaults
***/

h1,
h2,
p {
  line-height: var(--line-height-default);
  margin-bottom: 1rem;
  width: 90%;
  max-width: 720px;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: var(--font-size-4);
  line-height: var(--line-height-4);
}

h2 {
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  margin: auto;
  text-align: center;
  max-width: 720px;

}

h3 {
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  margin-bottom: 0;
}

p,
ul li {
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  margin-top: 0;
}

a {
  color: var(--accent);
  font-weight: 400;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
}



/*** Header ***/

header {
  /* background: rgba(255, 255, 255, 0.7); */

  height: 80px;
  padding: 20px 0;
  position: fixed;
  width: 100%;

  z-index: 1;
}

.site-logo {
  height: 60px;
  justify-self: center;
  left: 30px;
  position: fixed;
  top: 20px;
  width: auto;
  z-index: 10;
}


.site-logo img {
  height: 60px;
  transition: 0.5s;
  width: auto;
  z-index: 10;

}

/* Navigation
*/

@media only screen and (min-width: 800px) {

  .header-nav {
    position: absolute;
    right: 30px;
    text-align: right;
    top: 20px;
    width: 100%;
    z-index: 10;
  }

  .header-nav ul a {
    color: var(--black);
    font-weight: 600;
  }

  .header-nav li {
    display: inline-block;
    justify-self: center;
    list-style-type: none;
    padding: 0 1rem;
  }

  button.nav__toggle {
    display: none;
  }
}

@media only screen and (max-width: 800px) {

  .header-nav {
    background: var(--white-trans);
    height: 100%;
    min-height: 100vh;
    position: absolute;
    right: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    text-align: right;
    transition: -w1ebkit-transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
    transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
    transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1),
      -webkit-transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
    width: 250px;
    z-index: 10;
  }



  .header-nav ul {
    margin-top: 20px;
  }

  .header-nav ul li {
    font-size: var(--font-size-default);
    line-height: var(--line-height-s);
    padding: 6px 0;
    list-style: none;
    margin: 0px 30px 0 0;
  }

  .header-nav ul li a {
    color: #333;
    font-weight: 300;
  }

  .nav__item {
    margin-bottom: 3em;
  }

  .nav__link {
    text-decoration: none;
  }

  .nav__link:hover {
    text-decoration: underline;
  }

  .nav__toggle {
    position: absolute;
    top: 1.5em;
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    background: var(--white-trans);
    padding: 15px;
    border: 0;
    border-radius: 0.25em 0 0 0.25em;
  }

  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 30px;
    height: 3px;
    background: var(--black);
    transition: opacity 200ms linear, -webkit-transform 350ms ease-in-out;
    transition: transform 350ms ease-in-out, opacity 200ms linear;
    transition: transform 350ms ease-in-out, opacity 200ms linear,
      -webkit-transform 350ms ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
  }

  .hamburger::before {
    bottom: 8px;
  }

  .hamburger::after {
    top: 8px;
  }

  /* Navigation open styles */
  .nav-open .header-nav {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  /* Change this stuff below */
  .nav-open .hamburger {
    background: var(--accent);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .nav-open .hamburger::before {
    opacity: 0;
  }

  .nav-open .hamburger::after {
    background: var(--accent);
    -webkit-transform: rotate(90deg) translate(-8px);
    transform: rotate(90deg) translate(-8px);
  }
}


/***
Main
***/

.main {
  /* margin-top: -150px; */
  width: 100vw;
}


/*** Footer
***/

footer {
  /* background: red; */
  color: white;
  height: 100px;
  position: relative;
  width: 100vw;
}

/*** btn ***/
a.btn {
  font-weight: 400;
}

.btn {
  background: var(--accent);
  border-radius: 80px;
  color: var(--white);
  font-size: var(--font-size-default);
  height: 40px;
  justify-self: center;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  /* transition: filter 0.5s; */
  z-index: 99;
}

.btn:hover {
  box-shadow: var(--shadow);
  filter: contrast(2);
  text-decoration: none;
}

/***
Home
***/
.home-header,
.home-section {
  border-bottom: 2px dashed var(--grey-dark);

}

.home-header,
.home-section-aw {
  padding-bottom: 100px;
}

.home-header {
  position: relative;
  width: 100vw;
}

.home-header::before {
  background-color: var(--background-accent);
  content: "";
  left: 0;
  height: 40vh;
  position: absolute;
  top: 0;
  width: 100%;
}

.home-header-image {
  height: 1200px;
  max-height: 50vh;
  /* margin: 150px auto 0 auto; */
  position: relative;
  top: 150px;
  width: 100%;
}

.home-header-image img {
  display: block;
  height: 100%;
  margin: auto;
  position: relative;
  width: auto;
  /* z-index: 1; */
}

.home-header p {
  /* font-size: var(--font-size-2);
  line-height: var(--line-height-2); */
  margin: 250px auto 0;
  position: relative;
  text-align: center;
  width: 95%;
  max-width: 720px;
}

/* .home-header-image a {
  background: var(--accent);
  border-radius: 100px;
  font-size: 20px;
  line-height: 40px;
} */

.home-header .btn {
  bottom: -40px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 180px;
}


.home-section,
.home-about {
  padding-top: 100px;
}

.home-section-aw,
.section-slider-container {
  margin-bottom: 100px;
}

.home-section {
  width: 100%;
}

.home-section-aw {
  align-items: center;
  column-gap: 2rem;
  display: grid;
  margin: 100px auto 0 auto;
  width: 95%;
  max-width: 720px;
}

@media only screen and (min-width: 800px) {
  .home-section-aw {
    grid-template-columns: 2;
  }

  .home-section-aw img {
    grid-column: 1;
    height: auto;
    width: 100%;
  }

  .home-section-aw div {
    grid-column: 2;
  }
}

@media only screen and (max-width: 800px) {
  .home-section-aw {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

  .home-section-aw img {
    align-self: end;
    grid-column: 1 / 10;
    grid-row: 2 / 8;
    height: auto;
    width: 100%;
  }

  .home-section-aw div {
    align-self: start;
    grid-column: 3 / -1;
    grid-row: 7 / -1;
  }
}

.section-slider-container {
  display: flex;
  margin-top: 100px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  z-index: 999;
}

.section-slider-container::-webkit-scrollbar {
  visibility: hidden;
}

.section-slider {
  flex: 0 0 auto;
  max-height: 70%;
  width: auto;
  scroll-snap-align: start;
}

.section-slider-item {
  width: 100%;
  padding: 0 10px;
}

.section-slider-item:hover {
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  .section-slider-item img {
    height: 800px;
    max-height: 70vh;
    width: auto;
  }
}

@media only screen and (max-width: 800px) {
  .section-slider-item img {
    height: 800px;
    max-height: 60vh;
    width: auto;
  }
}

figcaption {
  line-height: var(--line-height-3);
  text-align: center;
}

.blur {
  filter: blur(15px);
  transition: filter 0.3s ease;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(122, 122, 122, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;

}

.modal-content {
  background-color: var(--white-trans);
  border-radius: 5px;
  max-width: 100%;
  max-height: 90%;
  overflow: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.modal-content .section-slider-item {
  width: 100%;
  height: auto;
  padding: 0;
}

.modal-content img {
  max-width: 100%;
  height: auto;
  display: block;
}

.modal-content figcaption {
  margin-top: 10px;
  text-align: center;
}

.close-button {
  background: var(--white-trans);
  border-radius: 50px;
  cursor: pointer;

  color: var(--accent);
  font-size: 40px;
  font-weight: bold;
  height: 40px;
  line-height: 47px;
  position: absolute;
  right: 35px;
  text-align: center;
  top: 15px;
  width: 40px;
}


.home-about {
  align-items: center;
  background: var(--background-accent);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 100px;
  width: 100%;
}

.home-about-name {
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 200px;
  z-index: 1;
}


.home-about-img {
  height: auto;
  margin-bottom: 100px;
  margin-top: -50px;
  width: 500px;
  max-width: 90%;
}

.home-about p {
  text-align: center
}

.home-about a.btn {
  display: block;
  margin-top: 100px;
  width: 180px;

}

.home-expo {
  margin: 100px auto;
  width: 90%;
  max-width: 780px;
}

.home-expo h2 {
  margin-bottom: 100px;
}



.home-expo ul {
  list-style: none;
  padding-inline-start: 0
}

.home-expo ul li {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* 
.hero-img {
  align-items: center;
  background: var(--white);
  border-top: 10px solid var(--black);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  position: sticky;
  top: 0;
}


.hero-img {
  height: 100vh;
  justify-content: center;
}

.hero-img img {
  border: 10px solid var(--black);
  box-shadow: var(--shadow);
  height: 90vh;
  width: auto;

}
 */
